{{#post}}
<div class="article-wrap">
  <article class="article">
    <h1 class="article-title">{{title}}</h1>
    <span class="article-date">{{date published_at format="MMMM DD, YYYY"}}</span>
    <section class="article-text">
      {{content}}
    </section>
  </article>
</div>
{{/post}}
