<nav class="pagination">
  {{#if pagination.prev}}<h4><a class="pagination-older" href="/page/{{pagination.prev}}" title="Nowsze artykuły">Nowsze artykuły</a></h4>{{/if}}
  {{#if pagination.next}}<h4><a class="pagination-newer" href="/page/{{pagination.next}}" title="Starsze artykuły">Starsze artykuły</a></h4>{{/if}}
</nav>
