<nav class="pagination">
  {{#if pagination.prev}}<h4><a class="pagination-older" href="/page/{{pagination.prev}}" title="Newer articles">Newer articles</a></h4>{{/if}}
  {{#if pagination.next}}<h4><a class="pagination-newer" href="/page/{{pagination.next}}" title="Older articles">Older articles</a></h4>{{/if}}
</nav>
