.article {
  margin: 0 auto;
  max-width: 48em;
  padding-bottom: 10em;
}

.article-date {
  color: $medium-gray;
  font-style: italic;
  font-size: .9em;
}

.article-title {
  margin: .5em 0;
}

.article-text {
  margin-top: 1em;

  p {
    margin-bottom: 2em;
  }

  h2,
  h3 {
    margin: 2em 0;
  }
}
