footer {
  display: none;
  height: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  width: 100%;
}

footer div {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}

@media only screen and (max-width: 900px) {

  footer {
    display: inline-block;
  }
}
