footer {
  display: none;
  margin: 2em auto;
  height: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  width: 100%;
}

footer div {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}

.footer-social-icon {

}

.stretch {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0
}

@media only screen and (max-width: 900px) {

  footer {
    display: inline-block;
  }
}
