header {
  background-color: $dark-gray;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 .5em rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 18em;
}

.header-info {
  flex: 0 0 auto;
  margin: 1em 0;
}

.header-photo {
  border-radius: 50%;
  border: 4px solid $medium-gray;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  transition: border-color 0.2s linear;

  &:hover {
    border-color: $hover-link-color;
  }
}

.header-title {
  max-width: 100%;
  margin: .3em 0;
  font-family: $sans-serif;

  a:hover {
    color: $white;
  }
}

.header-desc {
  color: $white;
  font-size: .75em;
  margin: 0;
  font-weight: 400;
}

.header-social {
  flex: 0 0 auto;
  margin: 1.4em 0;
  text-align: center;
}

.social-icon {
  height: 60px;
  width: 60px;
  transition: fill 0.1s linear;
  fill: $medium-gray;

  &:hover {
    fill: $hover-link-color;
  }
}

.header-nav {
  flex: 0 1 auto;
}

.nav-main h5 {
  text-transform: none;
  margin-bottom: 0;
  line-height: 2;
  font-family: $sans-serif;
}

@media only screen and (max-width: 900px) {
  header {
    position: relative;
    width: 100%;
    height: 10em;
    justify-content: space-between;
    text-align: none;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 .5em rgba(0,0,0,.3);
  }

  .header-info {
    flex: 0 1 auto;
    margin: 0 0 0 2em;
    vertical-align: middle;
  }

  .header-photo {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .header-social {
    margin: 0 2em;
  }

  .social-icon {
    height: 60px;
    width: 60px;
  }

  .header-nav {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  header {
    display: block;
    text-align: start;
  }

  .header-info {
    display: inline-block;
    margin: 2em 0 0 1em;
  }

  .header-photo {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .header-social {
    display: inline-block;
    float: right;
    margin: 3.5em 1em 3em 0;
  }

  .social-icon {
    height: 50px;
    width: 50px;
    margin-left: 1em;
  }
}
