header {
  background: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0;
  position: fixed;
  width: 18em;
}

.header-overlay {
  background: rgba(42, 55, 64, .8); //$medium-gray @ 80%
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header-info {
  flex: 0 0 auto;
  margin: 1em 0;
}

.header-photo {
  border-radius: 50%;
  border: 4px solid $medium-gray;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  transition: border-color 0.2s linear;

  &:hover {
    border-color: $hover-link-color;
  }
}

.header-title {
  max-width: 100%;
  margin: .3em 0;
  font-family: $sans-serif;

  a:hover {
    color: $white;
  }
}

.header-desc {
  margin: 0;  
  color: $white;
  font-family: $serif;
  font-size: .9em;
}

.header-social {
  flex: 0 0 auto;
  margin: 1.4em 0;
  text-align: center;
}

.header-nav {
  flex: 0 0 auto;
}

.nav-main h5 {
  text-transform: none;
  margin-bottom: 0;
  line-height: 2;
  font-family: $sans-serif;
}

@media only screen and (max-width: 900px) {
  header {
    position: relative;
    width: 100%;
    height: 10em;
  }

  .header-overlay {
    justify-content: space-between;
    text-align: none;
    align-items: center;
    flex-direction: row;
  }

  .header-info {
    flex: 0 0 auto;
    margin-left: 2em;
  }

  .header-photo {
    height: 60px;
    width: 60px;
    margin: 0;
  }

  .header-social {
    display: none;
  }

  .header-nav {
    margin-right: 2em;
  }
}

@media only screen and (max-width: 480px) {

  .header-overlay {
    display: block;
  }

  .header-info {
    display: inline-block;
    float: left;
    height: 100%;
    margin: 0;
    padding-left: 2em;
    padding-top: 1em;
  }

  .header-nav {
    display: inline-block;
    float: right;
    height: 100%;
    margin: 0;
    padding-right: 2em;
    padding-top: 1em;
  }
}
