@media only screen and (max-width: 900px) {
  header {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    text-align: none;
    align-items: center;
    flex-direction: row;
    background-color: $lighter-gray;
    box-shadow: 0 0 .5em rgba(0,0,0,.3);
  }

  .header-photo {
    width: 40px;
    height: 40px;
    margin: 0 1em;
  }

  .header-info {
    flex: 1 2 auto;
    margin-top: 0;
  }

  .header-social {
    margin: 0 1em;
  }

  .header-nav {
    float: right;
  }

  .nav-main {
    display: none;
  }

  .nav-control {
    display: inline-block;
    margin-right: 1em;
  }

  .content-wrap {
    margin-left: 0;
    padding: 7em 4em;
  }
}

@media only screen and (max-width: 680px) {

}
