.button {
  display: block;
  position: relative;
  padding: .5em 2em;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: .7em;
  border: 2px solid $white;
  border-radius: $base-border-radius;
  margin: 1em;
  transition: border-color .2s linear;
}

.button-header-nav {
  border-color: $medium-gray;
  color: $white;

  &:hover {
    border-color: $hover-link-color;
    color: $white;
  }
}

.button-footer-nav {
  border-color: $dark-gray;
  color: $dark-gray;
  display: none;
  margin: 0;

  &:hover {
    border-color: $hover-link-color;
    color: $dark-gray;
  }
}

@media only screen and (max-width: 900px) {

  .button-footer-nav {
    display: inline-block;
  }
}
