.social-icon { 
  border: 2px solid $medium-gray;
  border-radius: 50%;
  transition: border-color .2s linear;
  vertical-align: middle;

  &:hover {
    border-color: $hover-link-color;
  }
}

.header-social-icon {
  height: 40px;
  width: 40px;
  fill: none;
}

.footer-social-icon {
  height: 30px;
  width: 30px;
  fill: none;
  border-color: $dark-gray;

  .icon-github {
    fill: $dark-gray;
  }

  .icon-email {
    fill: $dark-gray;
  }
}

