// Typography
$serif: 'Lusitana', serif;
$serif-2: 'Merriweather', serif;
$sans-serif: 'Merriweather Sans', sans-serif;

$base-font-family: $serif-2;
$header-font-family: $serif;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 1.4;
$h3-font-size: $base-font-size;
$h4-font-size: $base-font-size * .7;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$green:             #156f78;
$dark-gray:         #333;
$medium-gray:       #999;
$light-gray:        #ddd;
$lighter-gray:      #f5f2f0;

// Background Color
$base-background-color: #fff;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $green;

// Link Colors
$base-link-color: $base-font-color;
$hover-link-color: $base-accent-color;

// Border color
$base-border: 1px solid $dark-gray;
$lighter-border: 1px solid $light-gray;
