*, 
*:before, 
*:after {
  box-sizing: border-box;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: $lighter-border;
  margin: 3.2em 0;
  padding: 0;
}
