*, 
*:before, 
*:after {
  box-sizing: border-box;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: $lighter-border;
  margin: 3.2em 0;
  padding: 0;
}

.content-wrap {
  margin-left: 18em;
  padding: 2em 4em;
}


@media only screen and (max-width: 900px) {
  
  body {
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    -webkit-backface-visibility: auto;
  }

  .content-wrap {
    margin-left: 0;
    padding: 7em 2em;
  }
}

